{% extends "layout.html" %}

{% block title %}Gestion des Professeurs{% endblock %}


{% block _search %}
{% include "/professeurs/_search.html" %}
{% endblock %}

{% block page_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Professeurs</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/professeurs">Professeurs</a></li>
                    <li class="breadcrumb-item active">Résultat</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock  %}

{% block container %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Résultat du mot clé: {{ mot_cle }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if professeurs %}
    {% for professeur in professeurs %}
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <a href="/professeurs/details/{{ professeur['_id'] }}">
                <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username">{{ professeur['nom'] }}
                        {{ professeur['prenom'] }}</h3>
                    <h5 class="widget-user-desc">{{ professeur['email'] }}</h5>
                </div>
            </a>

            <a href="/professeurs/details/{{ professeur['_id'] }}">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="/static/img/{{ professeur['photo'] }}" alt="User Avatar">
                </div>
            </a>

            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-6 border-right">
                        <div class="description-block">
                            <h5 class="description-header">3,200</h5>
                            <span class="description-text">Séances</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="description-block">
                            <h5 class="description-header">13,000</h5>
                            <span class="description-text">Avis</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-4">
        <p class="text-danger">Aucun Professeurs.</p>
    </div>
    {% endif %}
</div>
{% endblock %}