{% extends "layout.html" %}

{% block title %}Gestion des Etudiants{% endblock %}


{% block _search %}
{% include "/etudiants/_search.html" %}
{% endblock %}

{% block page_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Etudiants</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/etudiants">Etudiants</a></li>
                    <li class="breadcrumb-item active">Détails</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock  %}

{% block container %}
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="/static/img/{{ etudiant['photo'] }}"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ etudiant['nom'] }} {{ etudiant['prenom'] }}</h3>

                <p class="text-muted text-center">{{ etudiant['email'] }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Séances</b> <a class="float-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Avis</b> <a class="float-right">13,287</a>
                    </li>
                </ul>

                <a href="#" class="btn btn-danger btn-block"><b>Désactiver</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-clock mr-1"></i> Fuseau Horaire</strong>

                <p class="text-muted">
                    GMT+1
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Compétences</strong>

                <p class="text-muted">
                    <span class="tag tag-info">Javascript</span>
                </p>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#a_propos" data-toggle="tab">À PROPOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#competences" data-toggle="tab">COMPÉTENCES</a></li>
                    <li class="nav-item"><a class="nav-link" href="#avis" data-toggle="tab">AVIS DES ÉTUDIANTS</a>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="a_propos">

                        <!-- Post -->
                        <div class="post">
                            <!-- /.user-block -->
                            <div class="row mb-3">
                                <strong> Lorem ipsum represents a long-held tradition for designers</strong>

                                <p class="mt-2">
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore the hate as they create awesome
                                    tools to help create filler text for everyone from bacon lovers
                                    to Charlie Sheen fans.
                                </p>
                            </div>
                            <!-- /.row -->

                            <p>
                                <i class="fas fa-globe mr-1"></i> English
                                <i class="far fa-clock ml-4"></i> Ville (timezone)
                                <span class="float-right">
                                    <i class="fab fa-stack-overflow mr-1"></i> URL
                                </span>
                            </p>
                        </div>
                        <!-- /.post -->
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="competences">

                        <!-- The timeline -->
                        <div class="timeline timeline-inverse">

                            <!-- timeline item -->
                            <div>
                                <i class="fab fa-js-square bg-primary"></i>

                                <div class="timeline-item">
                                    <span class="time">17 ans d'expérience</span>

                                    <h3 class="timeline-header"><strong>Javascript</strong></h3>

                                    <div class="timeline-body">
                                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                        quora plaxo ideeli hulu weebly balihoo...
                                    </div>
                                </div>
                            </div>
                            <!-- END timeline item -->

                        </div>

                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="avis">

                        <!-- Box Comment -->
                        <div class="card card-widget">
                            <div class="card-header">
                                <div class="">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1">
                                                    <h2 class="text-primary">3.0</h2>
                                                </div>
                                                <div class="col-11">
                                                    <div class="float-left">
                                                        <span class="username">
                                                            <i class="fas fa-star text-primary"></i>
                                                            <i class="fas fa-star text-primary"></i>
                                                            <i class="fas fa-star text-primary"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                        </span>
                                                        <br>
                                                        <span class="description">(1409 commentaires)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <!-- /.card-body -->
                            <div class="card-footer card-comments">
                                <div class="card-comment">
                                    <!-- User image -->
                                    <img class="img-circle img-sm" src="/static/img/user3-128x128.jpg" alt="User Image">

                                    <div class="comment-text">
                                        <span class="username">
                                            Maria Gonzales
                                            <span class="text-muted float-right">8:03 PM Today</span>
                                        </span><!-- /.username -->
                                        It is a long established fact that a reader will be distracted
                                        by the readable content of a page when looking at its layout.
                                    </div>
                                    <!-- /.comment-text -->
                                </div>
                                <!-- /.card-comment -->
                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
{% endblock %}