{% extends "layout-2.html" %}

{% block title %}
Éducation pour Handicapés
{% endblock %}

{% block css %}
<link href='/static/fullcalendar/main.min.css' rel='stylesheet' />
<script src='/static/fullcalendar/main.min.js'></script>
<style>

</style>
{% endblock %}

{% block content_header %}{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <!-- Main content -->
        <section class="content  mt-5">
            <div class="container-fluid">

                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <div class="col-1"></div>
</div>
{% endblock  %}

{% block js %}
<script>
    const colors = ['#f39c12', '#f56954', '#0073b7', '#00c0ef', '#00a65a'];

    async function getCours() {

        const response = await fetch(`https://${window.location.hostname}:5000/cours/json`);
        const json = await response.json();

        const events = [];
        json.forEach(cours => {


            const startHour = `${cours.date} ${cours.heure_debut}`;
            const endHour = `${cours.date} ${cours.heure_fin}`;

            const index = Math.floor(Math.random() * colors.length);
            event = {
                title: `${ cours.etudiant.nom_prenom } - ${ cours.competence.technologie }`,
                start: new Date(startHour),
                end: new Date(endHour),
                backgroundColor: colors[index],
                borderColor: colors[index]
            };
            events.push(event);

        });


        displayCalendar(events);
    }

    function displayCalendar(events) {
        var date = new Date()
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear()

        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendar.Draggable;
        var checkbox = document.getElementById('drop-remove');
        var calendarEl = document.getElementById('calendar');

        var calendar = new Calendar(calendarEl, {
            headerToolbar: {
                left: 'today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            themeSystem: 'bootstrap',
            //Random default events
            events: events,
        });

        calendar.render();
    }


    getCours();
</script>
{% endblock  %}