 <!-- Left navbar links -->
 <ul class="navbar-nav ml-5">
     <li class="nav-item">
         <a href="/" class="nav-link">Accueil</a>
     </li>
     <li class="nav-item">
         <a href="/" class="nav-link">Mes Cours</a>
     </li>
     <li class="nav-item">
         <a href="/messages" class="nav-link">Message</a>
     </li>
     <li class="nav-item dropdown">
         <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             class="nav-link dropdown-toggle">Trouver un professeur</a>
         <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">

             <!-- Level two dropdown-->
             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Développement web</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">Angular</a>
                         <a tabindex="-1" href="#" class="dropdown-item">ASP.NET</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Django</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Express</a>
                         <a tabindex="-1" href="#" class="dropdown-item">HTML/CSS</a>
                         <a tabindex="-1" href="#" class="dropdown-item">jQuery</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Laravel</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Node.js</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Rails</a>
                         <a tabindex="-1" href="#" class="dropdown-item">React</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Redux</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Vue.js</a>
                     </li>
                 </ul>
             </li>
             <!-- End Level two -->
             <li class="dropdown-divider"></li>

             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Développement d'applications mobiles</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">Android</a>
                         <a tabindex="-1" href="#" class="dropdown-item">iOS</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Ionic</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Kotlin</a>
                         <a tabindex="-1" href="#" class="dropdown-item">React Native</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Swift</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Xcode</a>
                     </li>
                 </ul>
             </li>
             <!-- End Level two -->
             <li class="dropdown-divider"></li>

             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Langage de programmation</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">C++</a>
                         <a tabindex="-1" href="#" class="dropdown-item">C#</a>
                         <a tabindex="-1" href="#" class="dropdown-item">C</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Golang</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Java</a>
                         <a tabindex="-1" href="#" class="dropdown-item">JavaScript</a>
                         <a tabindex="-1" href="#" class="dropdown-item">PHP</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Python</a>
                         <a tabindex="-1" href="#" class="dropdown-item">R</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Ruby</a>
                         <a tabindex="-1" href="#" class="dropdown-item">TypeScript</a>
                     </li>
                 </ul>
             </li>
             <!-- End Level two -->
             <li class="dropdown-divider"></li>

             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Data Science / Engineering</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">AI</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Machine Learning</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Matlab</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Tableau</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Tensorflow</a>
                     </li>
                 </ul>
             </li>
             <!-- End Level two -->
             <li class="dropdown-divider"></li>

             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Base de données</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">AWS</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Database</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Docker</a>
                         <a tabindex="-1" href="#" class="dropdown-item">GCP</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Heroku</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Linux</a>
                         <a tabindex="-1" href="#" class="dropdown-item">MongoDB</a>
                         <a tabindex="-1" href="#" class="dropdown-item">MySQL</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Postgres</a>
                         <a tabindex="-1" href="#" class="dropdown-item">SQL</a>
                     </li>
                 </ul>
             </li>
             <!-- End Level two -->
             <li class="dropdown-divider"></li>

             <li class="dropdown-submenu dropdown-hover">
                 <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" class="dropdown-item">Autres</a>
                 <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
                     <li>
                         <a tabindex="-1" href="#" class="dropdown-item">Arduino</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Bash</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Electron</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Firebase</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Game</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Git</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Resberry Pi</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Selenium WebDriver</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Stripe</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Unity 3D</a>
                         <a tabindex="-1" href="#" class="dropdown-item">Visual Studio</a>
                         <a tabindex="-1" href="#" class="dropdown-item">WordPress</a>
                     </li>
                 </ul>
             </li>
         </ul>
     </li>
     <li class="nav-item">
         <a href="/" class="nav-link">Contact</a>
     </li>
 </ul>