{% extends "layout.html" %}

{% block title %}Gestion des Étudiants{% endblock %}


{% block _search %}
{% include "/admin/etudiants/_search.html" %}
{% endblock %}

{% block page_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Étudiants</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/etudiants">Étudiants</a></li>
                    <li class="breadcrumb-item active">Détails</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock  %}

{% block container %}
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="/static/img/{{ etudiant['profil_pic'] }}"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ etudiant['nom_prenom'] }}</h3>

                <p class="text-muted text-center">{{ etudiant['email'] }}</p>

                <ul class="list-group list-group-unbordered mb-3">

                </ul>

                <a href="#" class="btn btn-danger btn-block"><b>Désactiver</b></a>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-clock mr-1"></i> Fuseau Horaire</strong>

                <p class="text-muted">
                    {{ etudiant['fuseau_horaire'] }}
                </p>

                <hr>


                <strong><i class="fas fa-pencil-alt mr-1"></i> Langue</strong>

                <p class="text-muted">
                    {{ etudiant['langue'] }}
                </p>

                <hr>


                <strong><i class="fas fa-calendar mr-1"></i> Date Inscription</strong>

                <p class="text-muted">
                    {{ (etudiant['date_inscription'] | string)[:19] }}
                </p>


            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#a_propos" data-toggle="tab">Historique
                            Cours</a></li>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="a_propos">

                        <!-- Post -->
                        <div class="post">
                            <!-- /.user-block -->
                            <div class="row mb-3">
                                <strong> Lorem ipsum represents a long-held tradition for designers</strong>

                                <p class="mt-2">
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore the hate as they create awesome
                                    tools to help create filler text for everyone from bacon lovers
                                    to Charlie Sheen fans.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}