{% extends "layout.html" %}

{% block title %}Gestion des Étudiants{% endblock %}


{% block _search %}
{% include "/admin/etudiants/_search.html" %}
{% endblock %}

{% block page_header %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Étudiants</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="/etudiants">Étudiants</a></li>
                    <li class="breadcrumb-item active">Détails</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock  %}

{% block container %}
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="/static/img/{{ etudiant['profil_pic'] }}"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ etudiant['nom_prenom'] }}</h3>

                <p class="text-muted text-center">{{ etudiant['email'] }}</p>

                <ul class="list-group list-group-unbordered mb-3">

                </ul>
                <form action="{{ url_for('user_desactiver_compte', id=etudiant['_id'], index=2) }}" method="post"
                    onsubmit="return confirm('Désactiver Compte ?');">
                    <button type="submit" class="btn btn-danger btn-block">
                        Désactiver
                    </button>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-clock mr-1"></i> Fuseau Horaire</strong>

                <p class="text-muted">
                    {{ etudiant['fuseau_horaire'] }}
                </p>

                <hr>


                <strong><i class="fas fa-pencil-alt mr-1"></i> Langue</strong>

                <p class="text-muted">
                    {{ etudiant['langue'] }}
                </p>

                <hr>


                <strong><i class="fas fa-calendar mr-1"></i> Date Inscription</strong>

                <p class="text-muted">
                    {{ (etudiant['date_inscription'] | string)[:19] }}
                </p>


            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#a_propos" data-toggle="tab">Historique
                            Cours</a></li>
                    </li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="active tab-pane" id="a_propos">

                        {% if cours %}
                        {% for item in cours %}
                        <div class="col-md-12">
                            <!-- Widget: user widget style 2 -->
                            <div class="card card-widget widget-user-2">
                                <div class="widget-user-header bg-primary">
                                    <div class="row">
                                        <div class="col-12">
                                            {% for row in professeurs %}

                                            {% if item['id_professeur'] == row['_id'] | string %}

                                            <div class="widget-user-image">
                                                <img class="img-circle elevation-2"
                                                    src="/static/img/{{ row['profil_pic'] }}" alt="User Avatar">
                                            </div>
                                            <!-- /.widget-user-image -->
                                            <h5 class="widget-user-username">{{ row['nom_prenom'] }}</h5>

                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Module: <span class="float-right badge bg-primary">
                                                    {% for row in competences %}
                                                    {% if item['id_competence'] == row['_id'] | string %}
                                                    {{ row['technologie'] }}
                                                    {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Date: <span
                                                    class="float-right badge bg-primary">{{ item['date'] }}</span>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                Heure: <span
                                                    class="float-right badge bg-primary">{{ item['heure'] }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-md-4">
                            <p class="text-danger">Aucun Cours.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}