{% extends "layout-2.html" %}

{% block title %}
Éducation pour Handicapés
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <section class="content mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <!-- Profile Image -->
                                <div class="card card-primary card-outline">
                                    <div class="card-body box-profile">

                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle"
                                                src="/static/img/default_user.png" alt="User profile picture">
                                        </div>

                                        <h3 class="profile-username text-center"></h3>

                                        <p class="text-muted text-center"></p>

                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                <b>Séances</b> <a class="float-right">543</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Avis</b> <a class="float-right">13,287</a>
                                            </li>
                                        </ul>
                                        <a href="/profil/modifier" class="btn btn-primary btn-block"><b>Modifier
                                                Profil</b></a>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-8">
                                <!-- Profile Image -->
                                <div class="card card-primary card-outline">
                                    <div class="card-body box-profile">
                                        {% include "_error_msg.html" %}

                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <div class="col-1"></div>
</div>

{% endblock  %}